@import url("https://fonts.googleapis.com/css?family=Barlow:400,700,900&display=swap");

.swiper-container {
  position: relative;
  height: 85vh;
}

.parallax-bg {
  background-image: url("images/background.jpg");
}

.swiper-container-vertical .swiper-pagination-bullets {
  left: 5%;
  top: 25%;
}

.swiper-pagination {
  font-family: Raleway;
  padding: 1em 1em;
  display: flex;
  flex-direction: column;
  width: 200px;
}
